<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/quote/new">Add Quote</a></li>
        <li><a href="/author/new">Add Author</a></li>
        <li><a href="/quoteList">Quotes</a></li>
        <li><a href="/authors">Authors</a></li>
    </ul>
</nav>