<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Operations</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<%- include('partials/navbar') %>
<h1>Adding a new Author</h1>
<form method="POST" action="/author/new">
    First Name:
    <input type="text" name="fName"><br>
    Last Name:
    <input type="text" name="lName"><br>
    Date of Birth:
    <input type="date" name="dob">
    Date of Death:
    <input type="date" name="dod">
    Sex:
    <input type="text" name="sex">
    profession:
    <input type="text" name="profession">
    Country:
    <input type="text" name="country">
    Image URL:
    <input type="text" name="portrait">
    Biography:
    <input type="text" name="biography">
    <br>
    <button>Add Author</button>
</form>
<% if (typeof message != "undefined"){ %>
    <h3><%= message %></h3>
<% } %>
<%- include('partials/footer') %>
</body>
</html>